@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans", sans-serif;
}

header{
    background-color: rgba(255, 105, 180, 1);
    color: rgba(228, 238, 241, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header section{
    /*border: solid red;*/
    display: flex;
    align-items: center;
    width: 18vw;
    margin-left: -6vw;
}

header ul{
    /*border: solid red;*/
    width: 50vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5em;
}

header a{
    text-decoration: none; 
    color: inherit;
}

section.primeiro{
    height: 40vh;
    background-color: rgba(255, 217, 236, 1);
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2em;
}

section.primeiro figure img{
    width: 19vw;
    height: auto;
}

section.segundo{
    height: 35vh;
    background-color: rgba(255, 105, 180, 1);
    color: rgba(228, 238, 241, 1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2em;
}

section.segundo figure img{
    width: 28vw;
    height: auto;
}

section.terceiro{
    background-color: rgba(255, 217, 236, 1);
    height: 40vh;
}

section.terceiro figure{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
}

section.terceiro figure img{
    width: 13vw;
    height: auto;
    
}

footer{
    background-color: rgba(255, 105, 180, 1); 
    color: rgba(228, 238, 241, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
}

footer section p{
    margin-left: -5vw;
}

section.redes-sociais figure{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section.redes-sociais figure img{
    width: 3vw;
    height: auto;
}

section.logo2 figure img{
    width: 5vw;
    height: auto;
}